.App {
  text-align: center;
  background: url('./snowy-mountains-moonlight.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: block;
}

.App-header {
  background-color: transparent;
  height: 6vh;
  padding: 20px;
  color: white;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  font-weight: 300;
  font-size: 20px;
}

.App-main {
  height: 90vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 5vw;
}

.App-title {
  font-size: 1.5em;
}


