/* GROUPS */
.groups-container {
    background: #FFFFFF;
    color: #404040;
    width: 26vw;
    height: 90vh;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;

}

.groups-button {
    background: #FFFFFF;
    font-size: 16px;
    height: 80px;
    width: 100%;
    outline: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groups-button:hover {
    background: #f5f5f5;
}

.groups-input {
    outline: none;
    border: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    outline-width: initial;
    background: #FFFFFF;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0 0 0 40px;
    font-size: 13px;
    text-align: left;
    word-wrap: break-word;
    overflow-y: scroll;
}

.groups-input:focus {
    border: 1px solid #4D86FF;
    color: black;
    outline-offset: 0!important;
}

.add-container .groups-input {
    max-width: 100%;
}

/* GROUPSLIST */
.groups-list {
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.groups-list-item {
    background: #FFFFFF;
    color: #404040;
    list-style: none;
    max-width: 100%;
    height: 80px;
    padding: 20px 10px 0 40px;
    margin: 0;
    width: 100%;
}

.groups-list-item:hover {
    background: #f5f5f5;
    color: #263238;
}

.item-content {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.group-memberlist {
    width: 90%;
    margin-right: 10vw;
}

.groups-list-item-menu {
    width: 5%;
    align-self: flex-end !important;
    color: #404040;
}

.groups-list-item-menu:hover {
    color: #263238;
}
/* GROUP OPTIONS */
.group-options {
    background: #FFFFFF;
    width: 10vw;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    position: relative;
    left: 20vw;
    bottom: 8vh;
}

.group-options-list {
    padding: 0;
    margin: 0;
}

.group-options-list-item {
    color: #404040;
    font-size: 13px;
    list-style: none;
    padding: 6px;
}

.group-options-list-item:hover {
    background: #F5F5F5;
}



